@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    transition: all ease-in 0.3s;
    width: 100px;
    background-color: #FFACAC;
}

button:hover {
    transform: scale(1.1);
}

table {
    border: solid 5px black;
}

tr {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

td {
    border: solid 1px black;
}

input {
    border: none; 
    font-weight: bold;
    height: 15px;
    padding: 5px;
    text-align: center;
    width: 15px;
    outline: none;
}

@media (min-width: 480px) {
    input {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 768px) {
    input {
        height: 40px;
        padding: 10px;
        width: 40px;
    }
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 25px;
    margin: auto;
    width: 95%;
}

.container h1 {
    margin-bottom: 0;
}

.border-bottom {
    border-bottom: solid 5px black;
}

.border-left {
    border-left: solid 5px black;
}

.buttons-container button:first-child {
    background-color: white;
    border: 3px solid #FFACAC;
    margin-right: 15px;
}

.alert {
    background-color: #FF5555;
    border-radius: 5px;
    bottom: -150px;
    font-size: 25px;
    font-weight: bold;
    left: 50%;
    max-width: 350px;
    padding: 10px;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    transition: all ease-in 0.3s;
    width: 95%;
}